*.d
*.o
ast-lex.cc
ast-parse.cc
bad.cl
cgen
cool-tree.aps
cool-tree.cc
dumptype.cc
good.cl
grade.pl
handle_flags.cc
lexer
mycoolc
mysemant
parser
README
semant
stringtab.cc
symtab_example.cc
tree.cc
utilities.cc
.idea
.vscode
.vscode/
.vscode/**
